*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
scroll-behavior:smooth;
}

body{
background:#0b0b0b;
color:white;
}

.hero{
height:100vh;
background:url("https://picsum.photos/seed/lux1/1600/900");
background-size:cover;
display:flex;
flex-direction:column;
}

.navbar{
position:fixed;
width:100%;
display:flex;
justify-content:space-between;
padding:20px;
background:rgba(0,0,0,0.6);
}

.logo{
font-size:30px;
font-weight:bold;
}

.navbar ul{
display:flex;
gap:20px;
list-style:none;
}

.navbar a{
color:white;
text-decoration:none;
}

.cart{
cursor:pointer;
}

.heroContent{
flex:1;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.heroContent h1{
font-size:90px;
}

.section{
padding:80px;
}

.dark{
background:#151515;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.card{
background:#222;
border-radius:15px;
overflow:hidden;
transition:0.4s;
transform:perspective(1000px);
}

.card:hover{
transform:rotateY(10deg) translateY(-10px);
}

.card img{
width:100%;
height:180px;
object-fit:cover;
}

.cardContent{
padding:10px;
}

button{
width:100%;
padding:10px;
cursor:pointer;
}

.cartBox{
position:fixed;
top:100px;
right:20px;
background:#111;
padding:20px;
width:300px;
display:none;
}

footer{
padding:50px;
text-align:center;
background:#000;
}

.social{
margin-top:10px;
}
